body {
    font-family: 'Roboto Mono', monospace;
    min-height: 854px;
    background-image: url('https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-2-calculadora-certa.png');
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.header {}

.content {
    width: 250px;
    /*height: 400px;*/
    margin: 0 auto;
    position: relative;
}

.footer {}

.botao {
    border: 1px solid #ccc;
    margin: 2px;
    padding: 2px;
    color: white;
    background-color: rgb(71, 127, 231);
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: bold;
}

.botao:hover {
    background-color: tomato;
    border: 1px solid white;
}

#ecra{
    width: 100%; 
    text-align: right; 
    background-color: white; 
    font-size: 12pt; 
    color:black;
}

.div-ecra{
    width:238px; 
    border: 1px solid #000;
}

table{
    width: 250px;
}